@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import '~react-toastify/dist/ReactToastify.min.css';


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bp3-navbar-heading {
    font-family: 'Grand Hotel', cursive;
    font-size: xx-large;
    background: linear-gradient(to right, violet 0%, purple 20%, blue 40%, green 50%, yellow 60%, orange 70%, red 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
    
}

.bp3-input {
    margin-top: 15px;
    height: 40px;
    width: 200px;
    background-color: whitesmoke;
    position: relative;
    left:100px
}

.search-results{
    display: flex;
    flex-direction: row;
    width:400px

}
.search-results h3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.search-image{
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-right:30px;
    margin-bottom: 20px;
    margin-top: 13px;
}

a:hover{
    text-decoration:none;
    color:blueviolet
}

.know{
    border:none;
    background:blueviolet;
    color:whitesmoke

}
.lk:hover{
    text-decoration: none;
    color: blueviolet;
    opacity: 1;
}


.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background:#854AA7;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .error{
    color: red
  }